body {
	/*background-color: red;*/
}
.choose-parameters {
	width: 30%;
	display: flex;
	/*flex-direction: column;	*/
}
.input-parameters {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.span-val-parameters {
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}

.labels-parameters label {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.labels-parameters label span {

}

#send-values-from-calc {
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.conc-column {
	background-color: red;
	padding: 10px;
	display: flex;
	/*flex-direction: column;*/
	justify-content: flex-start;
	/*width: 100%;*/
}
.conc-column label {
	text-align: center;
}
.conc-column label input {
	/*width: 5%;*/
}
.qc-column {
	display: flex;
	/*flex-direction: column;*/
}
.qc-column label {
	height: 10%;
}
.n-column {
	display: flex;
	flex-direction: column;
}