<!DOCTYPE html>
<html>
<head>
	<title>ANOVA</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<script type="text/javascript" src="static/js/lib/jquery.js"></script>
	<script type="text/javascript" src="static/js/scripts/main.js"></script>
</head>

<body>
	<div class="choose-parameters">
		<div class="labels-parameters">
			<label>Определите количество концентраций</label>
			<label>Определите количество QC</label>
			<label>Определите количество n в группах</label>	
		</div>
		<div class="input-parameters">
			<input type="range" min="1" max="10" step="1" value="4" oninput="createInputs()" id="sizeConc">
			<input type="range" min="1" max="10" step="1" value="3" oninput="createInputs()" id="sizeQC">
			<input type="range" min="1" max="20" step="1" value="5" oninput="createInputs()" id="sizeN">
		</div>
		<div class="span-val-parameters">
			<span id="sizeConcVal"></span>
			<span id="sizeQCVal"></span>
			<span id="sizeNVal"></span>
		</div>
	</div>
	

	<form action="" id="send-values-from-calc">
		<div class="all-inputs">
			
		</div>
		<button type="submit">Расчет</button>
	</form>


	
</body>
</html>